.homeMain{
    font-family:PixelatedFont;
    font-weight:bold;
    font-size:1.5rem;
    color-scheme: light dark;
}

.homeMain p{
    text-align: left;
    font-size:2rem;
    padding-top:2rem;
    line-height:2.5rem;
}

.homeMain a{
    color:rgb(202, 42, 42);
}

.FSMC{
    background-image: url('../assets/FarmSoulsMC.gif');
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: left center;
    padding-left:12rem;
}

.TBMC{
    background-image: url('../assets/TrueBloodMC.gif');
    background-repeat: no-repeat;
    background-size: 9rem;
    background-position: right center;
    padding-right:8rem;
}

.skillsGrid{
    margin:0 auto;
    padding-top:5%;
}

th{
    /*border-bottom: 1px solid black;*/
    /*border-right: 1px solid black;*/
    color:rgb(202, 42, 42);
}

@media (prefers-color-scheme: dark)
{
    th{
        color:rgb(255, 96, 96);
    }
    .homeMain a{
        color:rgb(255, 96, 96);
    }
}

td{
    padding-top:1em;
    padding-bottom: 1em;
    padding-left:1em;
}

.contact{
    padding-top: 1.5em;
    font-size:2rem;
    width:100%;
}

.skillsGrid img{
    max-width:60%;
    min-width: 40px;
}

.MobileTr{
    display:none;
}

@media only screen and (max-width: 960px) {
    .PCTr{
        display: none;
    }

    td{
        padding-top:0em;
        padding-left:1em;
        padding-right:1em;
    }

    .MobileTr{
        display: table-row;
    }

    .homeMain{
        font-family:PixelatedFont;
        font-weight:bold;
        font-size:0.5rem;
        color-scheme: light dark;
    }

    .homeMain p{
        text-align: left;
        font-size:1rem;
        padding-top:1rem;
        line-height:1.5rem;
    }

    .contact{
    padding-top: 0.5em;
    font-size:1rem;
    width:100%;
    }

    .FSMC{
    background-image: url('../assets/FarmSoulsMC.gif');
    background-repeat: no-repeat;
    background-size: 7rem;
    background-position: top center;
    padding-top:12rem;
    padding-left:0;
    }

    .TBMC{
        background-image: url('../assets/TrueBloodMC.gif');
        background-repeat: no-repeat;
        background-size: 6rem;
        background-position: top center;
        padding-top:8rem;
        padding-right: 0;
    }
}