.icons{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
width:40rem;
margin:auto;
}

.itMain{
    font-family:PixelatedFont;
    font-weight: bold;
}

h2{
    font-size:2.2rem;
}

[id]{
    scroll-margin-top: 100px;
}

.FSVideo{

}

.itMain p{
    font-size:1.5rem;
    line-height:1.5rem;
    margin:0 auto;
    padding-bottom:1rem;
}

.test{
    display:inline-block;
    width:50%;
    font-size:1.5rem;
}

.gameTitle{
    margin:0 auto;
}

.gameDescription{
    text-align: justify;
}