.icons{
/*display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
width:40rem;
margin:auto;*/
margin:0 auto;
padding-bottom:5rem;
}

.icons td{
    padding: 2rem 3rem;
}

.itMain{
    font-family:PixelatedFont;
    font-weight: bold;
}

[id]{
    scroll-margin-top: 100px;
}

@media only screen and (max-width: 960px) {
    .icons td{
    padding: 1rem 2rem;
}
}