.icons{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
width:40rem;
margin:auto;
}

.itMain{
    font-family:PixelatedFont;
    font-weight: bold;
}

[id]{
    scroll-margin-top: 100px;
}

@media only screen and (max-width: 960px) {
.icons{
display: grid;
grid-template-columns: 18rem 18rem;
justify-content: center;
align-items: center;
margin:0 auto;
width:5rem;
}
}