.buttonComponent{
  margin:auto;
  height:100%;
  width:10%;
  background: url(../assets/PCBtn.png) ;
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  font-family:serif;
  /*font-family: PixelatedFont;
  font-weight: bold;*/
  font-size:4.5vh;
  color:#b6b6ca;
  text-align: center;
  line-height: 5%;
  padding: 0px;
  display:inline-block;
  border: 0;
}

.buttonComponent:focus{
  outline: none;
  background: url(../assets/PCBtnPressed.png) ;
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  color:#8a8a97;
}

.buttonComponent:hover{
    filter: drop-shadow(0 0 2px #ffffff)
}