.buttonComponent{
  margin:0 auto;
  /*height:100%;
  width:10%;*/
  background: url(../assets/PCBtn.png) ;
  background-size: 100% 100%;
  font-family:serif;
  /*font-family: PixelatedFont;
  font-weight: bold;*/
  font-size:4.5vh;
  color:#b6b6ca;
  text-align: center;
  line-height: 5%;
  /*padding: 1.5rem 3rem;*/
  margin:0 0.5%;
  height:100%;
  width:10%;
  min-width:fit-content;
  padding:0;
  border: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 960px) {
.buttonComponent{
    margin:0 auto;
  /*height:100%;
  width:10%;*/
  background: url(../assets/PCBtn.png) ;
  background-size: 100% 100%;
  font-family:serif;
  /*font-family: PixelatedFont;
  font-weight: bold;*/
  font-size:1.5rem;
  color:#b6b6ca;
  text-align: center;
  line-height: 5%;
  /*padding: 1.5rem 3rem;*/
  height:100%;
  width:100%;
  border: 0;
}
}

.buttonComponent:focus{
  outline: none;
  background: url(../assets/PCBtnPressed.png) ;
  background-size: 100% 100%;
  color:#8a8a97;
}

.buttonComponent:hover{
    filter: drop-shadow(0 0 2px #ffffff)
}