.iconAnchor{
    margin: 2rem 5rem;
    /*padding: 2rem 5rem;*/
}

.anchorText{
    font-family: PixelatedFont;
    font-size: 2rem;
    color:white;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    margin:auto;
}

.anchorImage{
    width:100%;
    height:100%;
}

@media only screen and (max-width: 960px) {
    .anchorImage{
    width:80%;
    height:80%;
}

.anchorText{
    font-family: PixelatedFont;
    font-size: 1.8rem;
    color:white;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    margin:auto;
}
}