.iconAnchor{
    /*margin: 2rem 5rem;
    /*padding: 2rem 5rem;*/
    margin: 0 auto;
}

.anchorText{
    font-family: PixelatedFont;
    font-size: 2rem;
    color:white;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    margin:auto;
}

.anchorImage{
    width:75%;
    height:75%;
}

@media only screen and (max-width: 960px) {

.anchorText{
    font-family: PixelatedFont;
    font-size: 1.4rem;
    color:white;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    margin:auto;
}

}