.boxMain{
    outline:0.2em solid black;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width:80%;
    cursor: pointer;
}

.boxMain h2{
    font-size:2rem;
    margin-bottom: 0;
}

.boxMain h3{
    margin-top: 0;
}

.boxMain:hover{
    background-color: rgb(175, 175, 175);
}

.projectMedia{
    width:80%;
    margin: 0 auto;
}

.shortText{
    font-size:1.5rem;
    margin: 0 10%;
    text-align: justify;
}

.arrowExtend{
    font-size:3rem;
    margin: 0;
    line-height: 2rem;
    transform: rotate(-90deg);
}

.fullDescription{
    font-size:1.5rem;
    margin: 0 5%;
    text-align: justify;
    /*display: none;*/
    overflow: hidden;
    padding-bottom: 2%;
    padding-top:2%;
}

@media (prefers-color-scheme: dark)
{
    .boxMain{
        background-color: rgb(58, 56, 56);
        outline:0.2em solid rgb(160, 160, 160)
    }
    .boxMain:hover
    {
        background-color: rgb(82, 78, 78);
    }
}

.projectMedia iframe{
    width:100%;
    height:500px;
}

.projectMedia img{
    width:100%;
    height:100%;
}

@media only screen and (max-width: 960px) {
    .projectMedia iframe{
        width:100%;
        height:300px;
    }

    .projectMedia img{
    width:100%;
    height:100%;
    }

    .projectMedia{
    width:90%;
    margin: 0 auto;
    }

    .boxMain{
    width:95%;
    }
}