#root {
  height:100%;
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.main{
  padding:5% 15%;
}

.name{
  position:absolute;
  top:-0.2%;
  left:4%;
  font-weight:100;
  font-size:3vh;
  line-height: 0;
  color:#b6b6ca;
  text-align: left;
  pointer-events: none;
}

.pcEffects{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}

.crtLines{
  pointer-events: none;
}

.blueTint{
  position:absolute;
  inset:5% 2.5%;
  background-color: #00c8ff1e;
  box-shadow: inset 0 0 150px #000000e7;
  pointer-events: none;
}

.screenStatic{
  position:absolute;
  inset:5% 2.5%;
  background-image:url(./assets/tvStaticv2.jpg);
  opacity:3%;
  /*animation: staticShift 0.2s linear infinite both;*/
  animation: staticShift 1.0s steps(1, end) infinite;
  pointer-events: none;
}

@keyframes staticShift{
  /*0%{
    background-position: 0;
  }
  100%{
    background-position: 100%;
  }*/
10% {
    background-position: -5% -10%;
}
20% {
    background-position: -5% 5%;
}
30% {
    background-position: 7% -5%;
}
40% {
    background-position: -5% 5%;
}
50% {
    background-position: -5% 10%;
}
60% {
    background-position: 5% 0%;
}
70% {
    background-position: 0% 5%;
}
80% {
    background-position: 3% 5%;
}
90% {
    background-position: -10% 10%;
}
100% {
    background-position: -5% 5%;
}
}

.blueGlow{
  position:absolute;
  inset:5% 2.5%;
  box-shadow: 0 0 30px #00c8ff31;
  z-index:2;
  pointer-events: none;
}
/*
.contactBtn{
  position:fixed;
  bottom:-0.1%;
  right:3%;
  height:5.5%;
  width:9%;
  background: url(./assets/PCBtn.png) ;
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  font-family: PixelatedFont;
  font-size:5vh;
  color:#c7c7dc;
  text-align: center;
  line-height: 5.5%;
  padding: 0px;
}*/

.Buttons{
  bottom:-0.2%;
  left:25%;
  width:100%;
  height:5.5%;
  position:fixed;
  z-index: 1;
}

.pcFrame{
  position:absolute;
  height:100%;
  width:100%;
  pointer-events: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 960px) {
  .Buttons{
  width:90%;
  padding:0 5%;
  height:5.5%;
  z-index: 1;
  position: fixed;
  left:0%;
  bottom:-0.2%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  }

  .pcEffects{
  position:fixed;
  top:0dvh;
  left:0px;
  height:100dvh;
  width:100dvw;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  pointer-events: none;

  .main{
    padding:5% 5%;
  }

  #root {
  height:100dvh;
  width:100dvw;
  margin: 0 auto;
  text-align: center;
  }
}
}