#root {
  height:100vh;
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pcFrame{
  position:absolute;
  height:100vh;
  width:100%;
 /* background-image: url(/src/assets/site_frame.png);
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;*/
}

.name{
  position:absolute;
  top:-0.2vh;
  left:4%;
  font-weight:100;
  font-size:3vh;
  line-height: 0;
  color:#b6b6ca;
  text-align: left;
  pointer-events: none;
}

.pcEffects{
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.crtLines{

}

.blueTint{
  position:absolute;
  inset:5% 2.5%;
  background-color: #00c8ff1e;
  box-shadow: inset 0 0 150px #000000e7;
}

.screenStatic{
  position:absolute;
  inset:5% 2.5%;
  background-image:url(./assets/tvStaticv2.jpg);
  opacity:3%;
  /*animation: staticShift 0.2s linear infinite both;*/
  animation: staticShift 1.0s steps(1, end) infinite;
}

@keyframes staticShift{
  /*0%{
    background-position: 0;
  }
  100%{
    background-position: 100%;
  }*/
10% {
    background-position: -5% -10%;
}
20% {
    background-position: -5% 5%;
}
30% {
    background-position: 7% -5%;
}
40% {
    background-position: -5% 5%;
}
50% {
    background-position: -5% 10%;
}
60% {
    background-position: 5% 0%;
}
70% {
    background-position: 0% 5%;
}
80% {
    background-position: 3% 5%;
}
90% {
    background-position: -10% 10%;
}
100% {
    background-position: -5% 5%;
}
}

.blueGlow{
  position:absolute;
  inset:5% 2.5%;
  box-shadow: 0 0 30px #00c8ff31;
  z-index:2;
}

.contactBtn{
  position:fixed;
  bottom:-0.1%;
  right:3%;
  height:5.5%;
  width:9%;
  background: url(./assets/PCBtn.png) ;
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  font-family: PixelatedFont;
  font-size:5vh;
  color:#c7c7dc;
  text-align: center;
  line-height: 5.5%;
  padding: 0px;
}

.Buttons{
  bottom:-0.2%;
  left:26%;
  width:100%;
  height:5.5%;
  position:fixed;
  z-index: 1;
}