#root {
  height:100vh;
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pcFrame{
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100%;
  margin: 0 auto;
 /* background-image: url(/src/assets/site_frame.png);
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;*/
}

.name{
  position:fixed;
  top:2.5vh;
  left:4%;
  height:100vh;
  width:100%;
  margin: 0 auto;
  font-family: PixelatedFont;
  font-size:4vh;
  color:#c7c7dc;
  text-align: left;
  line-height: 5.5%;
}

.crtLines{
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100%;
  margin: 0 auto;
}

.contactBtn{
  position:fixed;
  bottom:-0.1%;
  right:3%;
  height:5.5%;
  width:9%;
  background: url(./assets/PCBtn.png) ;
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  font-family: PixelatedFont;
  font-size:5vh;
  color:#c7c7dc;
  text-align: center;
  line-height: 5.5%;
  padding: 0px;
}

.Buttons{
  bottom:-0.2%;
  width:100%;
  height:5.5%;
  margin: 0 auto;
  position:fixed;
  z-index: 1;
}